<div class="bg-light text-dark mt-5 pt-5 pb-5">
    <div class="container pb-5">
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-4">
            <h1 class="text-muted">Connect Us</h1>
        </div>
       
        <div class="col-sm-12 col-md-3 col-lg-6">
            <a href="https://www.facebook.com/diamondpoolvillakohsamui", target="_blank"><%= fa_icon "facebook", style: "font-size: 3.0rem", class: 'nav-link' %></a>

            <a href="#" ><%= fa_icon "instagram", style: "font-size: 3.0rem", class: 'nav-link' %></a>

            <a href="mailto:diamondvilla.samui@gmail.com" ><%= fa_icon "envelope", style: "font-size: 3.0rem", class: 'nav-link' %></a>
            
            <span class="lead text-right"><a href="tel:+66952524878" ><%= fa_icon "phone", style: "font-size: 3.0rem", class: 'nav-link ml-2' %></span></a>
         </div>
    </div>
</div>