<div class="bg-light text-dark mt-5 pt-5 pb-5">
    <div class="container pb-5">
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3">
            <h1 class="text-muted">Connect Us</h1>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3">
            <h1 class="text-muted"><%= fa_icon "facebook", style: "font-size: 3.0rem", class: 'nav-link' %> <a href="#" ></a></h1>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3">
            <h1 class="text-muted"><%= fa_icon "instagram", style: "font-size: 3.0rem", class: 'nav-link' %> <a href="#" ></a></h1>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3">
            <h1 class="text-muted"><%= fa_icon "line", style: "font-size: 3.0rem", class: 'nav-link' %> <a href="#" ></a></h1>
        </div>
    </div>
</div>