<div stle="background-color: #eaeaea">
  <div class="container">
    <h1 class="featurette-heading">Facilities</h1>
     </div>
    <hr class="featurette-divider">
</div>

<div class="container">

      <%= render 'facility', facilities: @facilities %>
      
</div>